.Contenedor_padre {
    margin: 20px;
    text-align: center;
}

.informacion_productos{
    font-size: 10px;
    color: grey;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 10px;
}

.vaciar_boton {
    border-radius: 10px;
    border: none;
    background-color: rgb(95, 161, 194);
    color: white;
    width: 100px;
    height: 35px;
}

.eliminar_producto{
    border-radius: 10px;
    border: none;
    background-color: rgb(95, 161, 194);
    color: white;
    width: 150px;
    height: 20px;
    margin: 5px;
}

.carrito_vacio {
    text-align: center;
    color: rgb(181, 181, 181);
    font-weight: 500;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:150px ;
}